@model AppUser
<div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">User Detail</h5>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <h6>Full Name</h6>
        <h4>@Model.Name/@Model.SurName</h4>
    </div>
    <div class="form-group col-md-6">
        <h6>Username</h6>
        <h4>@Model.UserName</h4>
    </div>
</div>
<div class="form-row ">

    <div class="form-group col-md-4">
        <h6>Phonenumber</h6>
        <h5>@Model.PhoneNumber</h5>
    </div>
    <div class="form-group col-md-4">
        <h6> Email </h6>
        <h5>@Model.Email</h5>
    </div>
    <div class="form-group col-md-4">
        <h6>Password</h6>
        <h5>@Model.PasswordHash</h5>
    </div>
</div>
<a asp-action="Index" class="btn btn-dark text-white">Go Back</a>

